@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2rem;
}

.container{
    display: flex;
    max-width: 940px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem{
    width: 200px;
    display: flex;
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 2rem;
}

.imagem > img{
    width: 200px;   
}

.calculadora{
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    background-color: rgb(87, 195, 223);
    padding: 1rem;
}

.input{
    display: flex;
    width: 225px;
    justify-content: space-between;
    align-items: center;
}

.input input{
    height: 25px;
    width: 150px;
    border: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.calcular{
    width: 100%;
    background: #000;
    color: rgb(255, 255, 255);
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    width: 100%;
    height: 100px;
    background-color: white;  
    border: none;
    font-size: 13px;
}